[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
	branch = master
	ignore = dirty
[submodule "lua_is_tty"]
	path = lua_is_tty
	url = https://github.com/alis-is/lua_is_tty
	ignore = dirty
[submodule "deps/lua_is_tty"]
	path = deps/lua_is_tty
	url = https://github.com/alis-is/lua_is_tty
	ignore = dirty
[submodule "deps/lua-mbed-has"]
	path = deps/lua-mbed-has
	url = https://github.com/alis-is/lua-mbed-hash
	ignore = dirty
[submodule "deps/lua-mbed-hash"]
	path = deps/lua-mbed-hash
	url = https://github.com/alis-is/lua-mbed-hash
	ignore = dirty
[submodule "deps/lua-is-tty"]
	path = deps/lua-is-tty
	url = https://github.com/alis-is/lua-is-tty
	ignore = dirty
[submodule "deps/eli-extra-utils"]
	path = deps/eli-extra-utils
	url = https://github.com/alis-is/eli-extra-utils
	ignore = dirty
[submodule "deps/lua-mbed-bigint"]
	path = deps/lua-mbed-bigint
	url = https://github.com/alis-is/lua-mbed-bigint
	ignore = dirty
[submodule "deps/eli-stream-extra"]
	path = deps/eli-stream-extra
	url = https://github.com/alis-is/eli-stream-extra
	ignore = dirty
[submodule "deps/eli-pipe-extra"]
	path = deps/eli-pipe-extra
	url = https://github.com/alis-is/eli-pipe-extra
	ignore = dirty
[submodule "deps/eli-fs-extra"]
	path = deps/eli-fs-extra
	url = https://github.com/alis-is/eli-fs-extra
	ignore = dirty
[submodule "deps/eli-proc-extra"]
	path = deps/eli-proc-extra
	url = https://github.com/alis-is/eli-proc-extra
	ignore = dirty
[submodule "deps/eli-os-extra"]
	path = deps/eli-os-extra
	url = https://github.com/alis-is/eli-os-extra
	ignore = dirty
[submodule "deps/eli-env-extra"]
	path = deps/eli-env-extra
	url = https://github.com/alis-is/eli-env-extra
	ignore = dirty
[submodule "deps/lua-tar-read-native"]
	path = deps/lua-tar-read-native
	url = https://github.com/alis-is/lua-tar-read-native.git
	ignore = dirty
[submodule "deps/lua-zip"]
	path = deps/lua-zip
	url = https://github.com/brimworks/lua-zip
	ignore = dirty
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
	ignore = dirty
[submodule "deps/libzip"]
	path = deps/libzip
	url = https://github.com/nih-at/libzip
	ignore = dirty
[submodule "deps/lustache"]
	path = deps/lustache
	url = https://github.com/Olivine-Labs/lustache
	ignore = dirty
[submodule "deps/hjson-lua"]
	path = deps/hjson-lua
	url = https://github.com/hjson/hjson-lua
	ignore = dirty
[submodule "deps/luasrcdiet"]
	path = deps/luasrcdiet
	url = https://github.com/cryi/luasrcdiet
	ignore = dirty
[submodule "deps/lua-zlib"]
	path = deps/lua-zlib
	url = https://github.com/brimworks/lua-zlib
	ignore = dirty
[submodule "deps/lua-corehttp"]
	path = deps/lua-corehttp
	url = https://github.com/alis-is/lua-corehttp
	ignore = dirty
[submodule "deps/lua-mbed-base64"]
	path = deps/lua-mbed-base64
	url = https://github.com/alis-is/lua-mbed-base64
	ignore = dirty
[submodule "deps/lua-simple-socket"]
	path = deps/lua-simple-socket
	url = https://github.com/alis-is/lua-simple-socket
	ignore = dirty
[submodule "deps/corehttp"]
	path = deps/corehttp
	url = https://github.com/FreeRTOS/coreHTTP.git
	ignore = dirty
[submodule "deps/lua-simple-ipc"]
	path = deps/lua-simple-ipc
	url = https://github.com/alis-is/lua-simple-ipc.git
	ignore = dirty
[submodule "deps/zlib-ng"]
	path = deps/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
	ignore = dirty
[submodule "deps/c11threads"]
	path = deps/c11threads
	url = https://github.com/cryi/c11threads.git
