CC="{{{gcc}}}" CXX="{{{gpp}}}" AR="{{{ar}}}" LD="{{{ld}}}" RANLIB="{{{ranlib}}}" cmake {{{rootDir}}} \
-DCMAKE_AR="{{{ar}}}" -DCMAKE_C_COMPILER="{{{gcc}}}" -DCMAKE_CXX_COMPILER="{{{gpp}}}" -DCMAKE_RC_COMPILER="{{{rc}}}" \
-DCMAKE_OBJDUMP="{{{objdump}}}" -DCMAKE_STRIP="{{{strip}}}" \
-DCMAKE_BUILD_TYPE={{{BUILD_TYPE}}} -DCMAKE_C_FLAGS={{{ccf}}} -DCMAKE_SYSTEM_NAME={{{SYSTEM_NAME}}} \
-DCMAKE_FIND_ROOT_PATH={{{TOOLCHAIN_ROOT}}} 