cmake {{{rootDir}}} -DCMAKE_TOOLCHAIN_FILE={{{toolchainFile}}} -DCLANG_TARGET={{{target}}} \
	-DCMAKE_SYSTEM_NAME={{{SYSTEM_NAME}}} # -DCMAKE_RC_COMPILER="{{{rc}}}" \
	-DCMAKE_BUILD_TYPE={{{BUILD_TYPE}}} -DBUILD_FLAGS="{{{BUILD_FLAGS}}}"