/* injected eli corehttp patch */

HTTPStatus_t HTTPClient_InternalReceiveAndParseHttpResponse(const TransportInterface_t* pTransport,
                                                            HTTPResponse_t* pResponse,
                                                            const HTTPRequestHeaders_t* pRequestHeaders);

HTTPStatus_t HTTPClient_InternalSendHttpHeaders(const TransportInterface_t* pTransport,
                                                HTTPClient_GetCurrentTimeFunc_t getTimestampMs,
                                                HTTPRequestHeaders_t* pRequestHeaders, size_t reqBodyLen,
                                                uint32_t sendFlags);
HTTPStatus_t HTTPClient_InternalSendHttpData(const TransportInterface_t* pTransport,
                                             HTTPClient_GetCurrentTimeFunc_t getTimestampMs, const uint8_t* pData,
                                             size_t dataLen);

/* end injected eli corehttp patch */