name: test-pr

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, reopened, synchronize]
    
jobs:
  build-linux-x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: build-n-cache
      uses: "./.github/template/build-n-cache"
      with:
        toolchain: zig:x86_64-linux-musl
        artifact-id: eli-linux-x86_64
        debug-artifact-id: eli-linux-x86_64-debug
  build-linux-aarch64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: build-n-cache
      uses: "./.github/template/build-n-cache"
      with:
        toolchain: zig:aarch64-linux-musl
        artifact-id: eli-linux-aarch64
        debug-artifact-id: eli-linux-aarch64-debug
  build-linux-riscv64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: build-n-cache
      uses: "./.github/template/build-n-cache"
      with:
        toolchain: zig:riscv64-linux-musl
        artifact-id: eli-linux-riscv64
        debug-artifact-id: eli-linux-riscv64-debug

  build-windows:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: build-n-cache
        uses: "./.github/template/build-n-cache"
        with:
          toolchain: zig:x86_64-windows-gnu
          artifact-id: eli-windows-x86_64.exe
          debug-artifact-id: eli-windows-x86_64-debug.exe

  build-macos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: build-n-cache
        uses: "./.github/template/build-n-cache"
        with:
          toolchain: zig:aarch64-macos-none
          artifact-id: eli-macos-aarch64
          debug-artifact-id: eli-macos-aarch64-debug

  test-linux:
    runs-on: ubuntu-latest
    needs: [build-linux-x86_64,build-linux-aarch64, build-linux-riscv64]
    env:
      HTTPBIN_URL: http://localhost:80
    services:
      httpbin:
        image: kennethreitz/httpbin
        ports:
          - 80:80
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/template/prepare-test"
      - name: test x86_64
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/alis-is/eli-test:latest
          run: ./tools/test.sh x86_64
          options: -w /root/luabuild -v ${{ github.workspace }}:/root/luabuild -v ${{ github.workspace }}/toolchains:/opt/cross
      - name: test aarch64
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/alis-is/eli-test:latest
          run: ./tools/test.sh aarch64
          options: -w /root/luabuild -v ${{ github.workspace }}:/root/luabuild -v ${{ github.workspace }}/toolchains:/opt/cross
      - name: test riscv64
        uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/alis-is/eli-test:latest
          run: ./tools/test.sh riscv64
          options: -w /root/luabuild -v ${{ github.workspace }}:/root/luabuild -v ${{ github.workspace }}/toolchains:/opt/cross
          
  test-windows:
    runs-on: windows-latest
    needs: build-windows
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/template/prepare-test"
      - name: test
        shell: pwsh
        run: |
          .\tools\test.ps1 x86_64

  test-macos:
    strategy:
      matrix:
        os: [macos-latest]
        arch: [arm64]
    runs-on: ${{ matrix.os }}
    needs: [build-macos] # we do not test aarch64 because there are no available aarch64 runners
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/template/prepare-test"
      - name: test
        run: |
          ./tools/test.sh ${{ matrix.arch }}

  test-ami:
    runs-on: ubuntu-latest
    needs: [build-linux-x86_64]
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/template/prepare-test"
      - uses: actions/checkout@v4
        with:
          repository: alis-is/ami
          path: ami
      - name: test ami
        run: |
          cd ami
          ls -la tests/assets/cli/
          ../release/eli-linux-x86_64 tests/all.lua

  test-ascend:
    runs-on: ubuntu-latest
    needs: [build-linux-x86_64]
    steps:
      - uses: actions/checkout@v4
      - uses: "./.github/template/prepare-test"
      - uses: actions/checkout@v4
        with:
          repository: alis-is/ascend
          path: ascend
      - name: test ascend
        run: |
          cp release/eli-linux-x86_64 /usr/local/bin/eli
          cd ascend/tests
          ../../release/eli-linux-x86_64 all.lua